.main-container {
    display: flex;
    flex-direction: row;
}
.pane-right {
    background-color: $grey;
    display: flex;
    justify-content: top;
    flex-direction: column;
    border: solid  1px $dark-blue;
    margin-left: 2px;
    
}

.pane-left {
    background-color: $grey;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border: solid 1px $dark-blue;
}